@import "_reset.scss";
@import "_vars.scss";
@import "_mixins.scss";

.container {
  margin: 0px auto;
  width: 1140px;
}

.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #404040;
  }

  &__logo {
    width: 155px;
  }

  &__menu {
    display: flex;
    gap: 34px;
  }

  &__menu-link {
    color: #404040;
  }
}

.welcome {
  position: relative;
  background-image: url("../img/welcome.png");
  z-index: 0;
  &__inner {
  }

  &__heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: relative;
    padding-top: 105px;
  }

  &__heading::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #ffffff;
    margin: 28px auto 0;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    padding-bottom: 101px;
  }
}

.cross_img {
  position: absolute;
  z-index: 2;
  top: 471px;
  left: 0;
}

.description {
  background-color: #fefec9;
  text-align: center;
  position: relative;
  z-index: 0;
  margin-top: 18px;

  &__inner {
    padding: 60px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    color: #47474f;
  }

  &__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #47474f;
    border: 1px solid #47474f;
    padding: 20px 34px;
    box-shadow: 2px 2px #47474f;
    margin-top: 39px;
  }
}

.description::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #070707;
}

.description::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  width: 60px;
  height: 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #070707;
}

.section__heading {
  @include headings;
}

.about-us {
  &__inner {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-top: 43px;
  }

  &__card {
    width: 300px;
  }

  &__logo {
    background-color: #f5f5f5;
    height: 219px;
    padding: 50px 0 0 0;
  }

  &__heading {
    @include little-heading;
    margin-top: 38px;
  }

  &__text {
    @include vollkorn-text;
    margin-top: 20px;
  }
}

.Project {
  background-color: #f5f5f5;
  margin-top: 69px;
  padding: 0 0 89px 0;

  &__inner {
    margin-top: 43px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 384px 384px 384px;
    gap: 20px;
    text-align: center;
    justify-content: center;
  }

  &__card {
    background-color: #ffffff;
  }

  &__heading {
    @include little-heading;
    margin-top: 19px;
  }

  &__text {
    @include vollkorn-text;
    margin-top: 4px;
  }
}

.team {
  margin-top: 43px;

  &__inner {
    padding-top: 43px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }

  &__card-heading {
    @include little-heading;
    margin-top: 20px;
  }

  &__card-text {
    @include vollkorn-text;
    margin-top: 6px;
  }

  &__card-social {
    margin-top: 29px;
    display: flex;
    justify-content: center;
    gap: 6px;
  }
}

.feedback {
  margin-top: 99px;
  padding: 69px 0 98px 0;
  background-color: #f5f5f5;

  &__img {
    text-align: center;
  }

  &__wrapper {
    padding-top: 65px;
    display: flex;
    gap: 124px;
    justify-content: center;
  }

  &__inner {
    text-align: center;
    width: 338px;
    position: relative;
  }

  &__inner:first-child::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 215px;
    background-color: #070707;
    top: 0;
    right: -65px;
  }

  &__text {
    font-weight: 400;
    font-size: 26px;
    line-height: 127%;
    text-align: center;
    color: #333;
  }

  &__img {
    margin-top: 24px;
  }

  &__heading {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-transform: uppercase;
    text-align: center;
    color: #ababab;
  }
}

.connection {
  background-image: url("../img/greenback.png");
  padding-bottom: 75px;

  &__wrapper {
    margin-top: 63px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__inner {
    width: 320px;
  }

  &__locate {
    margin-top: 20px;
  }
  &__mail {
    margin-top: 34px;
  }
  &__heart {
    margin-top: 28px;
  }

  &__heading {
    @include little-heading;
  }

  &__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 129%;
    color: #212121;
  }

  &__social {
    margin-top: 10px;
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: 10px;
  }

  &__socials:first-child {
    margin-top: 20px;
  }

  &__text-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 129%;
    color: #212121;
  }
}

.footer {
  background-color: #000000;

  &__regform {
    width: 564px;
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__label {
    @include label;
  }

  &__dark {
    background-color: rgba(255, 255, 255, 0.18);
  }

  &__light {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__button {
    width: 220px;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 129%;
    text-align: center;
    color: #8bcac3;
    border: 1px solid #7ec4bd;
    padding: 15px 60px;
    margin: 22px auto;
  }

  &__img {
    margin-top: 15px;
    text-align: center;
  }

  &__text {
    margin-top: 14px;
    @include vollkorn-text;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
  }
}
